* {
  font-family: "Poppins", "Segoe UI";
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#seasub {
  font-family: fantasy;
  font-size: 200px;
  position: absolute;
  left: 60px;
  top: 10px;
  color: rgba(255, 255, 255, 0.459);
}

#text {
  position: absolute;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  left: 100px;
  top: 230px;
  color: rgba(255, 255, 255, 0.459);
}

.label {
  font-weight: 500;
  color: rgb(3, 58, 121);
}

.label:last-of-type {
  color: black;
}

body {
  background-image: url(./diver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.342);
}

hr {
  margin: 15px 0px;
}

.subC {
  background-color: rgb(255, 255, 255);
  width: 30vw;
  padding: 30px 40px;
  padding-top: 20px;
  justify-content: center;
  margin-left: 800px;
  box-shadow: 0 0px 30px black;
  border-radius: 10px;
}

input {
  margin-bottom: 15px;
  border: 1px solid rgb(3, 58, 121);
  color: black;
  padding: 5px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

input:nth-of-type(1),
input:nth-of-type(2) {
  width: 110px;
}

input:nth-of-type(3),
input:nth-of-type(4) {
  margin-left: 6px;
}

#pass {
  width: 163px;
}

#subButton {
  cursor: pointer;
  font-size: 15px;
  width: 120px;
  background-color: transparent;
  padding: 8px;
  margin-top: 7px;
  background-color: rgb(3, 58, 121);
  border: 1px solid rgb(3, 58, 121);
  color: white;
  transition: 0.5s;
}

#subButton:hover {
  background-color: white;
  border: 1px solid rgb(3, 58, 121);
  color: rgb(3, 58, 121);
  transition: 0.5s;
}

#check {
  width: 30px;
}

span {
  font-size: 14px;
}

#buttonDiv {
  text-align: center;
}

.subC h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  color: rgb(3, 58, 121);
}

#show {
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(3, 58, 121);
  border-radius: 10px;
}

.valid {
  color: rgb(3, 58, 121);
}

.invalid {
  color: red;
}
